.sign-in {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 102;
}
.sign-in-background {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  z-index: 0;
}
.sign-in-container {
  position: fixed;
  z-index: 1;
  padding: 32px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  background: white;
  color: #484848;
  text-align: center;
  margin: 0 auto;
}
.sign-in-exit {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
  border-radius:50%;
}
.sign-in-exit:hover {
  box-shadow: 0 0 4px 2px #D8D8D8;
  cursor: pointer;
}
.sign-in-exit svg {
  display: block;
  margin: auto;
}
.sign-in .text-input input {
  width: calc(100% - 22px);
  height: 22px;
  padding: 11px;
  margin-bottom: 16px;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  color: #484848;
}
.sign-in .text-input input:focus {
  border-color: #008489;
  outline: none;
}
.sign-in .remember-show {
  margin-bottom: 16px;
  height: 16px;
}
.sign-in .remember {
  float:left;
  display: inline;
}
.sign-in .remember label {
  margin-left: 10px;
}
.sign-in .remember input {
  height: 16px;
}
.sign-in .remember-show a {
  float: right;
}
.sign-in button {
  margin-bottom: 16px;
  height: 50px;
  width: calc(100%);
  background: #ff5a5f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}
.sign-in button:hover {
  cursor: pointer;
}
.sign-in button:active {
  background: #df3c47;
}
.sign-in a {
  color: #008489;
  font-weight: bold;
  margin-left: 10px;
}
.sign-in a:hover {
  text-decoration: underline;
}
@media (min-width: 741px) {
  .sign-in-container {
    width: 565px;
    height: 300px;
    top: calc(50% - 182px);
    left: calc(50% - 314px);
  }
}
