@import url('https://fonts.googleapis.com/css?family=Cabin');
body {
  font-family: 'Cabin', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
}
button {
  font-family: 'Cabin', sans-serif;
}
